figure img {
  border: 1px solid #f0f2f6;
  border-radius: 12px;
}

[data-name='frame'] img {
  border: 1px solid #f0f2f6 !important;
  border-radius: 12px !important;
}

#sidebar-content {
  border-right: 1px solid #f3f4f6;
  width: 20rem !important;
}

.dark #sidebar-content {
  border-right: 1px solid #1f2937;
}

strong,
b {
  font-weight: 700 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}
